body {
  font-family: Arial, sans-serif;
  background: #e0e4e8; /* чуть темнее, чем был #f9f9f9 */
  font-size: 1vw;
  text-align: center;
  user-select: none;
}


h1 {
  margin-bottom: 1vh;
  color: #333;

}

.info {
  margin-bottom: 1vh;
  font-size: 1.5vw;
  color: #555;
  min-height: 1em;
}

.score {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 100%;
  color: #222;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 4.5vw);
  grid-template-rows: repeat(8, 4.5vw);
  gap: 0.2vw;
  justify-content: center;
  margin: 0 auto;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fa; /* светлее, почти белый */
  border-radius: 0.2em;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* более заметная тень */
}


.cell.blocked {
  background-color: #555;
  cursor: not-allowed;
}

.cell.start {
  background-color: #d1f7d1;
  font-weight: bold;
  font-size: 2vw;
}

.cell.finish {
  background-color: #f7d1d1;
  font-weight: bold;
  font-size: 2vw;
}

.cell.player {
  background-color: #8bd3f7;
  font-weight: bold;
  box-shadow: 0 0 10px #0a74da;
  font-size:2.5vw ;
}

.cell:hover:not(.blocked):not(.player) {
  background-color: #c4e0ff;
}
.timer-badge {
  display: block;
  margin: 0.5em auto;
  background: linear-gradient(180deg,#fff,#f3f3f3);
  color: #2c3e50;
  padding: 1vh 1vw;
  border-radius: 999px;
  width:9em;
  font-size: 1.5vw;
  font-weight: 700;
  box-shadow: 0 6px 14px rgba(0,0,0,0.18);
}

.timer-badge.low {
  background: linear-gradient(135deg,#ff5a5a,#ff3b3b);
  color: white;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: .5; transform: scale(1.03); }
  100% { opacity: 1; transform: scale(1); }
}
/* module2.css */
#game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgb(9, 143, 233);
  padding: 3rem 2rem;
  display: flex;                 /* включаем flex */
  flex-direction: column;        /* вертикально */
  align-items: center;           /* по центру по горизонтали */
  justify-content: center;       /* по центру по вертикали */
  text-align: center;
  z-index: 1000;
  animation: popUp 0.5s ease-out;
}

#game-over.hidden { display: none; }

#game-over h2 {
  font-size: 2vw;
  color: #fffb00;
  margin: 1rem 0; /* отступы сверху/снизу */
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#final-score {
  font-size: 4vw;
  font-weight: bold;
  color: #ffee00;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
