
        /* Фон страницы */
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            font-family: 'Open Sans', sans-serif;
            background: linear-gradient(135deg, #9fd3ff, #a08bff);
            color: #2c3e50;
            display: flex;
            justify-content: center;
            padding: 2em;
        }

        /* Контейнер таблицы */
        .container {
            justify-content: space-between;
            background: #fff;
            border-radius: 2em;
            padding: 2em;
            width: 65vw;
            box-shadow: 0 6px 12px rgba(0,0,0,0.1);

        }

h1 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2.5vw;
    color: #2c3e50;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 0.1em solid #ccc;
            padding: 1vh 1vw;
            text-align: left;
        }

th {
    background-color: #2a5d9f;
    color: #fff;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 0.1vw;
}

td {
    font-weight: bold;
    font-size: 1vw;
    color: #2c3e50;
    line-height: 1.5;
}
        /* Стиль строк с играми */
.game-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8vh;
    font-size: 0.9vw;
    color: #2c3e50;
}

.game-row span {
    font-weight: 500;
    color: #555;
}
        .game-row form {
            display: inline;
        }

.game-row button {
    background-color: #a08bff;
    color: #fff;
    border: none;
    padding: 0.5vh 0.5vw;
    font-size: 0.7vw;
    font-weight: 600;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.game-row button:hover {
    background-color: #8a6efc;
    transform: translateY(-2px);
}

tbody tr:hover {
    background-color: #95d4f8;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a5d9f;
    text-decoration: none;
    width: 6.5em;
    height: 2em;
    border-radius: 0.5em;
    margin-top: 2em;
    color: #fff;
    font-weight: 400;
    
}

.top .btn:hover {
    background-color: #07408a;
    transform: translateY(-2px);
    transition: background 0.2s, transform 0.2s;
}
