    body {
      margin: 0;
      font-family: "Open Sans", system-ui, -apple-system, Arial, sans-serif;
      background: #dde9f8;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    header {
      background: #1e4fa8;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4vh 1vw;
      border-radius: 1em 1em 0 0;

    }
    .main{
      background-color: #ffffff;
      position: relative;
      margin-top: 5vh;
      width: 90vw;
      height: auto;
      border-radius: 1em;
    }
    header .logo {
      display: flex;
      align-items: center;
      font-size: 2vw;
      font-weight: 700;
    }
    header nav {
      display: flex;
      gap: 2vw;
      text-align: center;
      align-items: center;
    }
    header nav a {
      color: white;
      text-decoration: none;
      max-width: 20vw;
      font-weight: 400;
      font-size: 0.9vw;
      padding: 1.2vh 0.5vw;
      border-radius: 0.5em;
      background-color:#1e4fa8;
      box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.1);
    }

    header nav a:hover{
      transform:scale(1.05);
      filter: brightness(1.05);
    }
    .user {
      display: flex;
      align-items: center;
      justify-content:space-between;
      text-align: center;
      width: 18vw;
      height: 5vh;

    }

    .user .ava{
      height: 6vh;
    }

    #name{
      font-size: 1.7vw;
      font-weight: 500;
      padding-bottom: 0.2em;
    }

    #logoutText{
      display: flex;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      font-weight: 400;
      font-size: 1.2vw;

    }

    .container {
      padding: 2em;
    }
    
    .info{
      background-color: rgb(213, 247, 247);
      padding: 1.5em;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      margin-bottom: 1.5em;
      border-radius: 0.5em;
    }

    .info h2{
      font-size: 1.5vw;
    }
    .info p{
      font-size: 1vw;
    }

.info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5em;
}
.info-text {
  flex: 2; /* текст занимает больше места */
}

.info-images {
  flex: 1;
  display: flex;
  flex-direction: row; /* ← теперь по горизонтали */
  gap: 3vw;
  justify-content: center; /* выравнивание по центру */
  align-items: center;

}

.info-images img {
  width: 6vw;   /* можно настроить размер */
  height: auto;
  transform: translateY(-25%);

}
    .info button{
      margin-top: 1vh;
      border-radius: 0.5em;
      background-color: #ffffff;
      color:#1e4fa8;
      font-size: 0.9vw;
      font-weight: 600;
      display: flex;
      border: none;
      padding: 0.6em 1.2em;
      cursor: pointer;
    }
    .info button:hover {
      background:#1e4fa8;
      color:white;
    }
    .card {
      background: rgb(255, 255, 255);
      padding: 1vh 1.5vw;
      box-shadow: 0 0.2em 0.6em rgba(0,0,0,0.2);
      margin-bottom: 2vh;
      width: 12vw;
    }
    .flex {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      font-size: 0.9vw;
      
    }
    .card h2 {
      margin-top: 0;
    }
.chart-container {
  width: 30vw;
  height: 40vh;     /* высота в зависимости от окна */
  padding-bottom: 2.5vh;
}
h2{
  font-size: 1.7vw;
}
h3{
  font-size:1vw;
}

