
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bolim1_1.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-bar">
        <h1>Біздің айналамыздағы ақпарат</h1>
        <h2>BilimQuest</h2>
        <a href="/1module">Артқа</a>
    </div>
    <div id="game-container"></div>
    <div class="announcement-box">
    <div class="container">
        <a href="/game1" class="module">
            <img src="static/img/g1.png" style="width: 6em; height: 6em;">
            <span>Сәйкестік</span>
        </a>
        <a href="/game2" class="module {% if not completed['Ақпарат-алу'] %}disabled{% endif %}">
            <img src="static/img/g2.png" style="width: 6em; height: 6em;">
            <span>Лабиринт</span>
        </a>
        <a href="/module1" class="module {% if not completed['Көпір'] %}disabled{% endif %}">
            <img src="static/img/g3.png" style="width: 6em; height: 6em;">
            <span>Құпия код</span>
        </a>
    <div id="module-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <iframe id="module-frame" src="" frameborder="0" style="width: 100%; height: 100%;"></iframe>
        </div>
    </div>
<script src="static/js/moduls.js"></script>
</body>
</html>