<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мұғалім кіру немесе тіркелу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choose_teacher.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Мұғалім порталына кіру</h1>
        <form method="POST">
            <button type="submit" name="action" value="login" class="btn">Кіру</button>
        </form>
    </div>
</body>
</html>
