<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ақпарат көздері ойыны</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game1.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
  <h1>Ақпарат көздерін тап!</h1>
  <div id="game-area"></div>
  <div id="score"></div>
  <div id="message"></div>

    <div id="game-over" class="hidden">
      <img src="static/img/star.png" style="transform: translate(0 ,-30px); ">
    <h2>Ойын аяқталды!</h2>
    <p id="final-score">Ұпай: 0</p>
    <div id="star-container"></div>
    </div>

    <script src="{{ url_for('static', filename='js/game1.js') }}"></script>
</body>
</html>
