<!DOCTYPE html>
<html lang="kk">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Бинарное сообщение → буквы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game10.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
<h1>Бинарлық кодты шешіңіз</h1>
<div id="message">01001000 01000001 01010100</div>
<div id="input-container"></div>

<div id="image-container">
  <div class="piece" id="piece0"></div>
  <div class="piece" id="piece1"></div>
  <div class="piece" id="piece2"></div>
  <div class="piece" id="piece3"></div>
  <div class="piece" id="piece4"></div>
  <div class="piece" id="piece5"></div>
  <div class="piece" id="piece6"></div>
  <div class="piece" id="piece7"></div>
  <div class="piece" id="piece8"></div>
</div>

<div id="feedback"></div>
<div id="game-over" class="hidden">
  <p id="final-score"></p>
  <div id="star-container"></div>
</div>


<script src="static/js/game10.js"></script>
</body>
</html>
