<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рөлді Таңдау</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="desk"></div>
    <div class="choose">
        <h1>Порталға қош келдіңіз!</h1>
        <img src="static/img/3974104.jpg" alt="Картинка" style="width: 800px; height: auto;">
        <label>
             <a href="/teacher" class="btn_ch0">Мұғалім</a>
        </label><br>
        <label>
            <a href="/student" class="btn_ch1">Оқушы</a>
        </label><br><br>
    </div>
</body>
</html>
