<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рөлді Таңдау</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
<header class="header">
    <h1 class="title">BilimQuest</h1>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='img/EKU.png') }}" alt="School 1" class="school-logo">
        <img src="{{ url_for('static', filename='img/44.png') }}" alt="School 2" class="school-logo">
        <img src="{{ url_for('static', filename='img/Bokei.png') }}" alt="School 3" class="school-logo">
        <img src="{{ url_for('static', filename='img/45.png') }}" alt="School 4" class="school-logo">
    </div>
</header>
    <div class="container">
        <img src="{{ url_for('static', filename='img/main.png') }}" alt="Картинка" class="main-img">
        <h2 class="subtitle">Welcome to the portal!</h2>
        <div class="btn-group">
            <!-- Кнопка для учителя -->
            <form method="POST" action="/">
                <button type="submit" name="role" value="teacher" class="btn">Teacher</button>
            </form>

        <!-- Кнопка для ученика, которая открывает модалку -->
            <button type="button" id="studentBtn" class="btn">Student</button>
        </div>

    </div>

    <!-- Модальное окно -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Welcome!</h2>
        <p>Select an action:</p>
        <button class="action-btn login-btn"  id="loginBtn">Login</button>
        <button class="action-btn register-btn" id="registerBtn">Registration</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
