<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кіру</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
    <form action="/login" method="POST">
        <h1>Кіру</h1>
        <label for="name">Есім:</label>
        <input type="text" id="name" name="name" required>

        <label for="class">Сынып:</label>
        <select id="class" name="class" required>
            <option value="5А">5А</option>
            <option value="5Б">5Б</option>
            <option value="5В">5В</option>
            <!-- Қажетті сыныптарды қосыңыз -->
        </select>

        <label for="password">Құпиясөз:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" style="border-radius:0.5em;">Кіру</button>

        <!-- Дополнительный блок для кнопки регистрации -->
        <div class="register-link">
            <p>Тіркелмедіңіз бе?</p>
            <a href="/register" class="register-btn">Тіркелу</a>
        </div>
    </form>
</body>
</html>
