<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="UTF-8">
  <title>Салыстыр да тап</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/module6.css') }}">
</head>
<body>
  <h1>Салыстыр да тап</h1>

  <div class="grid-title">Үлгі сурет</div>
  <div id="reference" class="grid"></div>

  <div class="grid-title">Өзің сал</div>
  <div id="grid" class="grid"></div>

  <div id="color-buttons"></div>

  <button onclick="checkDrawing()">Тексеру</button>
  <p id="result"></p>
  <div id="comment"></div>

  <script src="static/js/module6.js"></script>
</body>
</html>
