<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра с препятствиями</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/module4.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Блоки на место!</h1>
    <div class="info">
        <p id="score">Очки: 0</p>
    </div>
    <div id="result-box" style="display:none; margin-top: 30px; padding: 20px; border-radius: 10px; background: #f0fff0; border-left: 6px solid #32cd32; font-size: 18px; max-width: 500px;">
        <h2 id="result-score"></h2>
        <p id="result-comment"></p>
    </div>
    <div id="board"></div>
    <div id="game-controls">
        <button onclick="restartGame()">Рестарт</button>
    </div>
    <script src="static/js/module4.js"></script>
</body>
</html>
