<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сөздерді сәйкестендір</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/module1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
  <h1>Сөздерді сәйкестендір</h1>
    <div id="timer" class="timer-badge"></div>
  <div class="container" id="words-container">
    <img class="word" draggable="true" id="word1" src="static/img/eye.png" alt="Көз">
    <img class="word" draggable="true" id="word2" src="static/img/nose.png" alt="Мұрын">
    <img class="word" draggable="true" id="word3" src="static/img/hand.png" alt="Тері">
    <img class="word" draggable="true" id="word4" src="static/img/ear.png" alt="Құлақ">
    <img class="word" draggable="true" id="word5" src="static/img/tongue.png" alt="Тіл">
  </div>

    <div class="container" id="targets-container">
      <div class="target" id="meaning1" data-word="word1">
        <span class="description">Көру мүшесі</span>
      </div>
      <div class="target" id="meaning2" data-word="word2">
        <span class="description">Иіс сезу мүшесі</span>
      </div>
      <div class="target" id="meaning3" data-word="word3">
         <span class="description">Сипап сезу мүшесі</span>
      </div>
      <div class="target" id="meaning4" data-word="word4">
          <span class="description">Есту мүшесі</span>
      </div>
      <div class="target" id="meaning5" data-word="word5">
          <span class="description">Дәм тату мүшесі</span>
      </div>
  </div>
  <button id="check-btn" disabled>Тексеру</button>
  <div id="game-over" class="hidden">
    <img src="static/img/star.png" style="width:30vw;">
    <h2>Ойын аяқталды!</h2>
    <p id="final-score">Ұпай: 0</p>
    <div id="star-container"></div>
  </div>
  <script src="static/js/module1.js"></script>
</body>
</html>