<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра с препятствиями</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/module4.1.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Блоки на место!</h1>
    <div class="info">
        <p id="score">Очки: 0</p>
    </div>
    <div id="board"></div>
    <div id="game-controls">
        <button onclick="restartGame()">Рестарт</button>
    </div>

    <script src="static/js/module4.1.js"></script>
</body>
</html>
