<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="UTF-8">
  <title>Рейтинг</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rating.css') }}">
</head>
<body>
  <div class="container">
    <h1>Оқушылар рейтингі</h1>
    {% for student in students %}
      <a href="{{ url_for('student_dashboard', student_id=student.id) }}" class="student-card-link">
        <div class="student-card">
          <div class="avatar">
            <img src="{{ url_for('static', filename='img/user.png') }}">
          </div>
          <div class="student-name">{{ student.name }}</div>
          <div class="student-stats">
            <div class="stars">
              {% for i in range(student.stars_sum|int) %}⭐{% endfor %}
              ({{ student.stars_sum|int }})
            </div>
            <div class="average">
              <img src="{{ url_for('static', filename='img/rating.png') }}" class="rating-icon">
              {% if student.completed_games > 0 %}
                  {{ (student.score_sum / student.completed_games)|round(2) }}
              {% else %}
                  0
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</body>
</html>
