<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БілімQuest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
<header class="s-topbar">
  <div class="s-brand">
    <div class="s-logo">BilimQuest</div>

  </div>

  <div class="s-actions">
    <a href="/rating" class="s-score">⭐ {{ "%.3f"|format(student.score) }}</a>

    <a href="{{ url_for('student_dashboard', student_id=student.id) }}" class="s-profile">
      <img src="{{ url_for('static', filename='img/user.png') }}" alt="user" class="s-avatar">
      <span class="s-name">{{ student.name }}</span>
      <span class="s-arrow">›</span>
    </a>
  </div>
</header>

<main class="s-page">
  <section class="s-shell">

    <section class="s-classes">
      <a class="s-class-card s-c5" href="/1module">
        <div class="s-class-title">Ақпарат галактикасы</div>
        <div class="s-class-cta">⭐ 1-тоқсан ойындары›</div>
      </a>

      <a class="s-class-card s-c6" href="/toqsan_2">
        <div class="s-class-title">Пазл әлемі</div>
        <div class="s-class-cta">⭐ 2-тоқсан ойындары›</div>
      </a>

      <a class="s-class-card s-c7" href="/toqsan_3">
        <div class="s-class-title">Квест жолы</div>
        <div class="s-class-cta">⭐ 3-тоқсан ойындары›</div>
      </a>

      <a class="s-class-card s-c8" href="/toqsan_4.">
        <div class="s-class-title">Жасанды интеллект зертханасы</div>
        <div class="s-class-cta">⭐ 4-тоқсан ойындары></div>
      </a>
    </section>

    <section class="s-news">
      <div class="s-news-head">
        <span class="s-bell">🔔</span>
        <div>
          <div class="s-news-title">Хабардар болыңыздар:</div>
          <div class="s-news-sub">Жаңалықтарды және жаңартуларды осы жерден көре аласыз.</div>
        </div>
      </div>

      <ul class="s-news-list">
        {% for ann in announcements %}
          <li class="s-news-item">
            <div class="s-news-msg">{{ ann.message }}</div>
            <div class="s-news-date">{{ ann.local_time().strftime("%d.%m.%Y %H:%M") }}</div>
          </li>
        {% else %}
          <li class="s-news-item">
            <div class="s-news-msg">Әзірше хабарландыру жоқ</div>
          </li>
        {% endfor %}
      </ul>
    </section>

  </section>
</main>

</body>
</html>
