<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tch_progress.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

  <title>Оқушылар үлгерімі</title>
</head>
<body>
    <div class="container">
        <div class="top">
        <h1>Барлық оқушылар үлгерімі</h1>
         <a href="/teacher" class="btn">Басты бетке</a>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <table>
            <thead>
                <tr>
                    <th>Аты</th>
                    <th>Сынып</th>
                    <th>Ұпай</th>
                    <th>Орындады</th>
                    <th>Ойындар</th>
                </tr>
            </thead>
            <tbody>
                {% for student in progress_data %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.student_class }}</td>
                    <td>{{ student.score }}</td>
                    <td>{{ student.correct_tasks }}</td>
                    <td>
                        {% for game in student.games %}
                            <div class="game-row">
                                <span>{{ game.game_name }}: {{ game.score }} балл – {% if game.completed %}✅{% else %}❌{% endif %}</span>
                                <form method="POST" action="/reset_module_score">
                                    <input type="hidden" name="student_id" value="{{ student.id }}">
                                    <input type="hidden" name="game_name" value="{{ game.game_name }}">
                                    <button type="submit">Қайта рұқсат беру</button>
                                </form>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>