<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="UTF-8">
  <title>BilimQuest - Геймификация</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="logo">BilimQuest Analytics</div>

    <div class="user">
      <i class="icon"><img src="static/img/user2.png"></i>
        Instruction
    </div>
  </header>

  <main>
      <nav class="nav-panel">
        <select id="classSelect">
            {% for cls in class_list %}
              <option value="{{ cls }}" {% if selected_class == cls %}selected{% endif %}>Grade-{{ cls }}</option>
            {% endfor %}
        </select>
        <a href="#">By class</a>
        <a href="#">By topic</a>
        <a href="#">By students</a>
          <a href="/teacher" class="back-btn">Home page</a>
      </nav>

        <script>
          document.getElementById("classSelect").addEventListener("change", function() {
            const cls = this.value;
            window.location.href = "/teacher_panel?student_class=" + cls;
          });
        </script>


      <section class="dashboard">

        <div class="line1">
            <div class="diagram1">
                <h3>By class</h3>
                <canvas id="classChart"></canvas>
                <script>
                  // Диаграмма "по классам" → делаем столбчатую по главам
                  new Chart(document.getElementById('classChart'), {
                    type: 'bar',
                    data: {
                      labels: {{ labels|tojson }},
                      datasets: [{
                        label: 'Cәтті менгеру',
                        data: {{ scores|tojson }},
                        backgroundColor: 'rgba(30, 79, 168, 0.7)'
                      }]
                    },
                    options: {
                    responsive: true,
                    maintainAspectRatio: false,
                      scales: {
                          y: {
                            beginAtZero: true,
                            max: 100,
                            ticks: {
                              font: { size: 14, family: 'Arial', weight: 'bold' } // шрифт оси Y
                            }
                          },
                          x: {
                            ticks: {
                              font: { size: 14, family: 'Arial', weight: 'bold' } // шрифт оси X
                            }
                          }
                      },
                      plugins: {
                        legend: { display: false }
                      }
                    }
                  });
                </script>
            </div>

            <div class="diagram2">
              <h3>By topic</h3>
              <canvas id="allStudentsChart"></canvas>
              <script>
                new Chart(document.getElementById('allStudentsChart'), {
                  type: 'bar',
                  data: {
                    labels: {{ labels_all|tojson }},
                    datasets: [{
                      label: 'Средний балл по главам (все ученики)',
                      data: {{ scores_all|tojson }},
                      backgroundColor: 'rgba(70,130,180,0.7)',
                      borderRadius: 6,      // закругление углов
                      barPercentage: 0.2,   // толщина полоски
                      categoryPercentage: 0.8
                    }]
                  },
                  options: {
                    indexAxis: 'y',         // горизонтальная
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                      x: {
                        beginAtZero: true,
                        display: false,
                        max: 100,
                        ticks: {
                          font: { size: 12, weight: 'bold' },
                        },
                        grid: { drawTicks: false, drawBorder: false }
                      },
                      y: {
                        ticks: {
                          font: { size: 12, weight: 'bold' }
                        },
                        grid: { drawTicks: false, drawBorder: false }
                      }
                    },
                    plugins: {
                      legend: { display: false },
                      tooltip: {
                        callbacks: {
                          label: function(context) {
                            return context.parsed.x + '%';
                          }
                        }
                      }
                    }
                  }
                });
              </script>
            </div>
        </div>

        <div class="line2">
                <a href="/rating" class="diagram-link">
                    <div class="diagram3">
                        <h3>By students</h3>
                        <img src="static/img/rating2.png">
                    </div>
                </a>
        </div>
      </section>
  </main>



</body>
</html>
